*{
    margin: 0;
    padding: 0;
    
}

.ticket-booking-icon:hover{
color: brown;
transform: scale(1.2);
text-decoration:overline;
}
.ticket-booking-icon{
transition: .2s all;

}
.ticket-booking-icon_1:hover{
    color: #e23945;
    transform: scale(1.1);
    text-decoration: underline;
    /* text-decoration:overline; */
}
.ticket-booking-icon_1{
transition: .2s all;
    text-decoration: none;
    color: black;
    font-size: 18px;
 
}

.sec-2-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 30px 21px rgba(216, 24, 16, 1);
}
.se_3_box_main{
    position: relative;
    perspective: 1000px;
}
.se_3_box{
    position: absolute;
    top: 0;
    left: 150px;
  opacity: 0;
  transform: scale(0);
  /* transform: rotate(0); */
  transition: .5s all;
}


.se_3_box_main:hover .se_3_box {
    transform: scale(1.1);
    transition-delay: .5s;
opacity: 1;
    
}
.learn-more-btn {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
}

.learn-more-btn.learn-more {
 width: 12rem;
 height: auto;
}

.learn-more-btn.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: #282936;
 border-radius: 1.625rem;
}

.learn-more-btn.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}

.learn-more-btn.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

.learn-more-btn.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

.learn-more-btn.learn-more .learn-more-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #282936;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
}

.learn-more-btn:hover .circle {
 width: 100%;
}

.learn-more-btn:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(1rem, 0);
}

.learn-more-btn:hover .learn-more-text {
 color: #fff;
}



.ticket-booking-icon:hover{
color: brown;
transform: scale(1.2);
text-decoration:overline;
}
.ticket-booking-icon{
transition: .2s all;

}
.ticket-booking-icon_1:hover{
    color: #e23945;
    transform: scale(1.1);
    text-decoration: underline;
    /* text-decoration:overline; */
}
.ticket-booking-icon_1{
transition: .2s all;
    text-decoration: none;
    color: black;
    font-size: 18px;
 
}

.sec-2-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 30px 21px rgba(216, 24, 16, 1);
}
.se_3_box_main{
    position: relative;
    perspective: 1000px;
}
.se_3_box{
    position: absolute;
    top: 0;
    left: 150px;
  opacity: 0;
  transform: scale(0);
  /* transform: rotate(0); */
  transition: .5s all;
}


.se_3_box_main:hover .se_3_box {
    transform: scale(1.1);
    transition-delay: .5s;
opacity: 1;
    
}



